.navbar {
  display: flex;
  align-items: center;
  background: var(--bg-primary-box);
  padding: 20px 38px 28px;

  &__actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
  }
}
