<div class="navbar">
  <i *ngIf="currentTheme$ | async as theme"
     class="navbar__logo icon icon--logo-{{ theme === 'Dark' ? 'dark' : 'light'  }}"
     [class.navbar__logo--short]="isSidenavClosed$ | async">
  </i>
  <div class="navbar__main">
    <h1>#Board name</h1>
    <div class="navbar__actions">
      <button (click)="onAddNewTask()" class="button button--primary button--large"><i class="icon icon--add"></i> Add New Task</button>
      <i class="icon icon--dots"></i>
    </div>
  </div>
</div>
