<label [for]="contextMenuId" style="position:relative;" [style.pointer-events]="(disabled$ | async) ? 'none' : 'auto'">
  <input type="checkbox" [id]="contextMenuId"  #control (change)="toggleContextMenu()" >
  <div *ngIf="control.checked" class="context-menu">
    <div
      *ngFor="let item of contextMenu"
      (click)="item.action()"
      [class.context-menu__item--danger]="item.danger"
      class="context-menu__item">
      {{item.label}}
    </div>
  </div>
  <i [class.icon--disactive]="disabled$ | async" class="icon icon--dots icon--active"></i>
</label>

