.task {
  background: var(--bg-primary-box);
  padding: 23px 16px;
  box-shadow: 0 4px 6px rgba(54, 78, 126, 0.101545);
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: var(--bg-primary-hover);
    outline: 2px dashed var(--bg-primary);
    outline-offset: -4px;

    h3 {
      color: var(--bg-primary);
    }

    p {
      color: #fff;
    }
  }

  h3 {
    margin-bottom: 8px;
  }
}
