<app-modal>
  <h2>{{ mode === 'ADD' ? 'Add New' : 'Edit' }} Task</h2>
  <form class="form" [formGroup]="form">
    <div class="form__control">
      <label class="form__label">Title</label>
      <input formControlName="title" type="text" class="form__input" placeholder="e.g. Take coffee break">
    </div>
    <div class="form__control">
      <label class="form__label">Description</label>
      <textarea formControlName="description" class="form__input" placeholder="e.g. It's always good to take a break. This 15 minute break will recharge the batteries a little"></textarea>
    </div>
    <div class="form__control" formArrayName="subtasks">
      <label class="form__label">Subtasks</label>
      <p *ngIf="!subtaskControls.length" class="text--large text--secondary" style="margin-top: 0">There are no subtasks. Add your first one!</p>
      <div class="form__array-item" *ngFor="let task of subtaskControls; let i = index;">
        <input [formControlName]="i" type="text" class="form__input" placeholder="e.g. Make coffee">
        <button (click)="onDeleteSubtask(i)" class="icon icon--times"></button>
      </div>
      <button (click)="onAddSubtask()" class="button button--secondary" type="button">
        <i class="icon icon--add icon--primary-clr"></i>
        Add New Subtask
      </button>
    </div>
    <div class="form__control" style="margin-top: 24px;">
      <label class="form__label">Status</label>
      <app-dropdown formControlName="status"></app-dropdown>
    </div>
  </form>
</app-modal>
