.container {
  transition: width 0.4s;
  padding: 24px;

  @media screen and (min-width: 599px) {
    margin-left: auto;
    width: calc(100vw - min(35%, 300px));
  }

  &--expanded {
    width: 100vw;
  }

  &--auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100vh;
  }
}
