<div class="sidebar" [class.sidebar--hidden]="isSidenavClosed$ | async">
  <div class="sidebar__main">
    <h4>ALL BOARDS (8)</h4>
    <ul class="sidebar__boards">
      <li class="sidebar__board" [class.sidebar__board--active]="first" *ngFor="let board of boards;let first = first">
        <i class="icon icon--board" ></i> <span class="text--highlight">{{ board.name }}</span>
      </li>
      <li class="sidebar__board sidebar__board--add-new">
        <i class="icon icon--board"></i> <span class="text--highlight"><i class="icon icon--add"></i> Create New Board</span>
      </li>
    </ul>
  </div>
  <div class="sidebar__actions">
    <div class="sidebar__theme-toggle">
      <i class="icon icon--sun"></i>
      <label class="toggle" *ngIf="currentTheme$ | async as theme">
        <input type="checkbox" (change)="onToggleTheme()" [checked]="theme === 'Dark'">
        <span></span>
      </label>
      <i class="icon icon--moon"></i>

    </div>
    <div class="sidebar__sidebar-toggle" (click)="toggleSidenav()">
      <h4 class="sidebar__hide-button"><i class="icon icon--hide"></i> Hide Sidenav</h4>
    </div>
  </div>
</div>

<i class="sidebar__show-button icon icon--show" (click)="toggleSidenav()"></i>
