<app-modal (close)="response$.next(false)">
  <div class="confirm-delete">
    <h3 class=" text--danger">Delete this board?</h3>
    <p class="confirm-delete__description text text--large">Are you sure you want to delete the "Platform Launch" board?
      This action will remove all columns and tasks and cannot be reversed.</p>
    <div class="confirm-delete__actions">
      <button class="button button--danger" (click)="response$.next(true)">Delete</button>
      <button class="button button--secondary" (click)="response$.next(false)">Cancel</button>
    </div>
  </div>
</app-modal>
